// ============================================================================
// Scaffolding
// ============================================================================

body {

}

.strong {
  font-weight: bold;
}

.fake-link {
  color: #0000FF;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.img-centered {
  &.img-responsive {
  margin-left: auto;
  margin-right: auto;
  }
  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}

.img-restricted {
  &.img-responsive {
    width: 100%;
    max-width: 300px;
    @media (min-width: $screen-sm-min) {
      max-width: 100%;
    }
  }
  .img-responsive {
    width: 100%;
    max-width: 300px;
    @media (min-width: $screen-sm-min) {
      max-width: 100%;
    }
  }
}

.map {
  min-height: 200px;
  @media (min-width: $screen-sm-min) {
    min-height: 400px;
  }
}