// ============================================================================
// Scaffolding
// ============================================================================

body {

}

.strong {
  font-weight: bold;
}

.fake-link {
  color: #0000FF;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

