img {
  &.left {
    float: left !important;
    margin: 10px 10px 10px 0 !important;
  }

  &.right {
    float: right !important;
    margin: 10px 0 10px 10px !important;
  }

  &.center {
    margin: 10px auto;
    text-align: center;
    display: block;
  }

  &.leftAlone {
    display: block;
  }
}